<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itemlist</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<main>
    <table class="design09">
        <tr>
            <th>商品番号</th>
            <th>商品名</th>
            <th>商品説明</th>
            <th></th>
            <th></th>
        </tr>
        {% for rec in dataset %}
        <tr>
            <td>{{rec.iid}}</td>
            <td>{{rec.name}}</td>
            <td>{{rec.description}}</td>
            <td><input type="submit" onclick="location.href='/edit/{{rec.iid}}'" value="編集"></td>
            <td><input type="submit" onclick="delete_item()" value="削除"></td>
            <script>
                function delete_item(){
                    if(confirm("商品を削除してもよろしいですか？")){
                        location.href='/delete/{{rec.iid}}';
                    }else{
                        alert("商品は削除されました！")
                    }
                }
            </script>
        </tr>
        {% endfor %}    
    </table>
    <p class="errormessage2">{{finmessage2}}</p>
    <p class="errormessage3">{{finmessage3}}</p>
    <form method="get" class="menu">
        <input type="submit" formaction="/all" value="全件表示">
        <input type="submit" formaction="/reg" value="新規登録">
    </form>
</main>
    
</body>
</html>